.card {
    padding: 20px;

    &__buttons {
        display: grid;
        grid-template-columns: auto 3rem;
        gap: 10px;

        align-items: center;
    }
}

.confirm {
    padding: 20px;

    margin: 0 auto;

    max-width: fit-content;

    &__subtitle {
        margin-bottom: 20px;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media screen and (min-width: 600px) {
    .card {
        &__bottom {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            & * {
                width: 100%;
            }
        }
    }

}