/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with ($button-border-radius: 10px,
  $overlay-scrim-background: rgba(0, 0, 0, 75%),
  $snackbar-content-padding: 0px,
  $skeleton-loader-image-height: 100%,
  $button-font-weight: 700);